{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title  %}{% endblock  %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css  %}{% endblock  %}
</head>
<body>
    <h1>Plantilla Base</h1>
    <nav>
        <ul>
            <li>
                <a href="#">pagina_1</a>
            </li>
            <li>
                <a href="#">pagina_2</a>
            </li>
            <li>
                <a href="#">pagina_3</a>
            </li>
            <li>
                <a href="#">pagina_4</a>
            </li>
        </ul>
    </nav>
    <main>
        {% block content  %}{% endblock  %}
    </main>
    <footer>
        <p> Derechos Reservados 2020</p>
    </footer>
    {% block js  %}{% endblock  %}
</body>
</html>