{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Bootcamp {{mensaje|upper}}</h1>
    <h3> tecnologias aprendidas: </h3>
    <ul>
        {% for tecnologia in tecnologias %}
            {%if tecnologia == 'Bootstrap'%}
                <li class="color">{{tecnologia}}</li>
            {% else %}
                <li>{{tecnologia}}</li>
            {%endif%}
        {% endfor %}
    </ul>
    <h5>Cantidad de Tecnologias aprendidas: {{tecnologias|length}} </h5>
</body>
</html>